:root {
	--round-radius: 170960px;
	--shadesof01: hsl(0, 0%, 12%); 
	--shadesof02: hsl(0, 0%, 24%); 
	--shadesof03: hsl(0, 0%, 36%); 
	--shadesof04: hsl(0, 0%, 48%); 
	--shadesof05: hsl(0, 0%, 60%); 
	--shadesof06: hsl(0, 0%, 72%); 
	--shadesof07: hsl(0, 0%, 84%); 
	--shadesof08: hsl(0, 0%, 96%); 
	--shadesof09: hsl(0, 0%, 100%); 
	--lucentof01: hsl(0, 0%, 50%, 0.1); 
	--lucentof02: hsl(0, 0%, 50%, 0.2); 
	--lucentof03: hsl(0, 0%, 50%, 0.4); 
	--lucentof04: hsl(0, 0%, 50%, 0.5); 
	--lucentof05: hsl(0, 0%, 50%, 0.6); 
	--lucentof06: hsl(0, 0%, 50%, 0.8); 
	--lucentof07: hsl(0, 0%, 50%, 0.9); 
	--lucentof08: hsl(0, 0%, 50%, 1.0); 
  --basecolor: #3c78cd;
	--primary01: hsl(215, 59%, 20%); 
	--primary02: hsl(215, 59%, 26%); 
	--primary03: hsl(215, 59%, 32%); 
	--primary04: hsl(215, 59%, 38%); 
	--primary05: hsl(215, 59%, 44%); 
	--primary06: hsl(215, 59%, 50%); 
	--primary07: hsl(215, 59%, 56%); 
	--primary08: hsl(215, 59%, 62%); 
	--primary09: hsl(215, 59%, 68%); 
	--primary10: hsl(215, 59%, 74%); 
	--primary11: hsl(215, 59%, 80%); 
	--primary12: hsl(215, 59%, 86%); 
	--prilucentof01: hsl(215, 59%, 50%, 0.1); 
	--prilucentof02: hsl(215, 59%, 50%, 0.2); 
	--prilucentof03: hsl(215, 59%, 50%, 0.3); 
	--secondary01: hsl(35, 59%, 20%); 
	--secondary02: hsl(35, 59%, 26%); 
	--secondary03: hsl(35, 59%, 32%); 
	--secondary04: hsl(35, 59%, 38%); 
	--secondary05: hsl(35, 59%, 44%); 
	--secondary06: hsl(35, 59%, 50%); 
	--secondary07: hsl(35, 59%, 56%); 
	--secondary08: hsl(35, 59%, 62%); 
	--secondary09: hsl(35, 59%, 68%); 
	--secondary10: hsl(35, 59%, 74%); 
	--secondary11: hsl(35, 59%, 80%); 
	--secondary12: hsl(35, 59%, 86%); 
	--seclucentof01: hsl(35, 59%, 50%, 0.1); 
	--seclucentof02: hsl(35, 59%, 50%, 0.2); 
	--seclucentof03: hsl(35, 59%, 50%, 0.3); 
	--tertiary01: hsl(125, 59%, 20%); 
	--tertiary02: hsl(125, 59%, 26%); 
	--tertiary03: hsl(125, 59%, 32%); 
	--tertiary04: hsl(125, 59%, 38%); 
	--tertiary05: hsl(125, 59%, 44%); 
	--tertiary06: hsl(125, 59%, 50%); 
	--tertiary07: hsl(125, 59%, 56%); 
	--tertiary08: hsl(125, 59%, 62%); 
	--tertiary09: hsl(125, 59%, 68%); 
	--tertiary10: hsl(125, 59%, 74%); 
	--tertiary11: hsl(125, 59%, 80%); 
	--tertiary12: hsl(125, 59%, 86%); 
	--terlucentof01: hsl(125, 59%, 50%, 0.1); 
	--terlucentof02: hsl(125, 59%, 50%, 0.2); 
	--terlucentof03: hsl(125, 59%, 50%, 0.3); 
	--good01: hsl(120, 59%, 20%); 
	--good02: hsl(120, 59%, 26%); 
	--good03: hsl(120, 59%, 32%); 
	--good04: hsl(120, 59%, 38%); 
	--good05: hsl(120, 59%, 44%); 
	--good06: hsl(120, 59%, 50%); 
	--good07: hsl(120, 59%, 56%); 
	--good08: hsl(120, 59%, 62%); 
	--good09: hsl(120, 59%, 68%); 
	--good10: hsl(120, 59%, 74%); 
	--good11: hsl(120, 59%, 80%); 
	--good12: hsl(120, 59%, 86%); 
	--goolucentof01: hsl(120, 59%, 50%, 0.1); 
	--goolucentof02: hsl(120, 59%, 50%, 0.2); 
	--goolucentof03: hsl(120, 59%, 50%, 0.3); 
	--caution01: hsl(60, 59%, 20%); 
	--caution02: hsl(60, 59%, 26%); 
	--caution03: hsl(60, 59%, 32%); 
	--caution04: hsl(60, 59%, 38%); 
	--caution05: hsl(60, 59%, 44%); 
	--caution06: hsl(60, 59%, 50%); 
	--caution07: hsl(60, 59%, 56%); 
	--caution08: hsl(60, 59%, 62%); 
	--caution09: hsl(60, 59%, 68%); 
	--caution10: hsl(60, 59%, 74%); 
	--caution11: hsl(60, 59%, 80%); 
	--caution12: hsl(60, 59%, 86%); 
	--caulucentof01: hsl(60, 59%, 50%, 0.1); 
	--caulucentof02: hsl(60, 59%, 50%, 0.2); 
	--caulucentof03: hsl(60, 59%, 50%, 0.3); 
	--alarm01: hsl(0, 59%, 20%); 
	--alarm02: hsl(0, 59%, 26%); 
	--alarm03: hsl(0, 59%, 32%); 
	--alarm04: hsl(0, 59%, 38%); 
	--alarm05: hsl(0, 59%, 44%); 
	--alarm06: hsl(0, 59%, 50%); 
	--alarm07: hsl(0, 59%, 56%); 
	--alarm08: hsl(0, 59%, 62%); 
	--alarm09: hsl(0, 59%, 68%); 
	--alarm10: hsl(0, 59%, 74%); 
	--alarm11: hsl(0, 59%, 80%); 
	--alarm12: hsl(0, 59%, 86%); 
	--alalucentof01: hsl(0, 59%, 50%, 0.1); 
	--alalucentof02: hsl(0, 59%, 50%, 0.2); 
	--alalucentof03: hsl(0, 59%, 50%, 0.3); 
}
